.hero {
  height: 60vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  background: #151515;

  .body {
    margin-top: 50px;
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      flex-direction: row;
      gap: 10vw;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;

      .text {
        flex: 1;

        .para1 {
          color: #dcdcdc;
          font-size: clamp(1.75rem, 2.5vw, 2.5rem);
          line-height: 1.6;
          max-width: 600px;
        }

        .para2 {
          margin-top: 2rem;
          color: #6c6969;
          font-size: clamp(1rem, 1.5vw, 1.3rem);
          font-style: italic;
          line-height: 1.4;
          max-width: 600px;
        }
      }

      .imageWrapper {
        flex: 1;
        display: flex;
        justify-content: center;

        .image {
          width: 100%;
          max-width: 480px;
          object-fit: cover;
        }
      }
    }

    @media (max-width: 1024px) {
      .content {
        flex-direction: column;
        gap: 3rem;
        text-align: center;

        .text {
          .para1,
          .para2 {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
          }

          .para2 {
            margin-top: 1.2rem;
          }
        }

        .imageWrapper {
          .image {
            max-width: 80%;
          }
        }
      }
    }

    @media (max-width: 600px) {
      .content {
        gap: 2rem;

        .text {
          .para1 {
            font-size: 1.5rem;
          }

          .para2 {
            font-size: 1rem;
          }
        }

        .imageWrapper {
          .image {
            max-width: 100%;
          }
        }
      }
    }
  }
}
